html, body {
    background-color: #fffaf0;/*これは一番薄い色*/
    color: #8b4513;
    
    /*min-height: 100vh;*/
    /*position: relative;*/
    /*padding-bottom: 100px;*/
    /*box-sizing: border-box;*/
}

.app-name {
    background-color: #8fbc8f;
    padding: 10px 0;
}

.back {
    background-color: #8fbc8f;
    /*float:left;*/
}

.title{
    background-color: #faebd7;/*これは一番濃い色*/
    height:50px;
    margin:0px 50px;
    padding:0px 30px;
}

.messages {
      overflow-y: scroll;
    margin: 0 50px;
    background-color: #fffaf0;
    height: 250px;
  
}
    .talk-right {
        text-align:right;
    }

.search {
    height: 80px;
    margin: 0 50px;
    padding: 10px 0;
    background-color: #faf0e6;
}
    .search-box {
        float:right;
        padding-top: 20px;
    }
    .date {
        float:left;
    }

.text {
    background-color: #faf0e6;
    position: absolute;
    bottom: 95px;
    width: 100%;
    /*margin: 0 50px;*/
}
    .who {
        border-top: 2px #8b4513 solid;
        /*background-color: yellow;*/
        height: 72px;
        padding: 0 50px;
    }
        .who h2 {
            font-size: 20px;
        }
        .who p {
            float:left;
        }
    
    .content {
        /*background-color: pink;*/
        /*height: 400px;*/
        padding: 0 50px;
    }
        .content h2 {
            font-size: 20px;
        }
        .write-box {
            width:80%;
        }

footer{
    background-color: #8fbc8f;
    width:100%;
    /*height:50px;*/
        border-top: 5px solid #8b4513;
        text-align: center;
        padding: 30px 0;
        
        position: absolute;
        bottom: 0;
}

@media all and (max-width: 480px) { 
    .title{
        background-color: #faebd7;/*これは一番濃い色*/
        height:25px;
        margin:0px 5px;
        padding:0px 30px;
        font-size: 20px;
    }
    
    .messages {
        overflow-y: scroll;
        margin: 0 50px;
        background-color: #fffaf0;
        height: 180px;
      
    }
    
    .search {
        height: 70px;
        margin: 0 5px;
        padding: 10px 0;
        background-color: #faf0e6;
    }
        .search-box {
            float:right;
            width:60%;
            padding-top: 20px;
        }
            .search input {
                width:50%;
                float:left;
            }
        .date {
            float:left;
            width:40%;
        }
            .date h5 {
                font-size:10px;
            }
            .date select {
                width:80%;
            }
    
    .text {
        background-color: #faf0e6;
        position: absolute;
        bottom: 65px;
        width: 100%;
        height: 100px;   
    }
        .who {
            height:50px;
            padding:0 5px;
        }
            .who h2{
                font-size: 10px;
            }
            .who p {
                font-size: 10px;
            }
.content {
    padding:0 5px;
}
    .content-submit {
        float:right;
        /*text-align:right;*/
    }
    
    footer{
        background-color: #8fbc8f;
        width:100%;
        /*height:50px;*/
            border-top: 5px solid #8b4513;
            text-align: center;
            padding: 30px 0;
            
            position: absolute;
            bottom: 0;
            
            height: 1px;
    }
        .footer-title {
            font-size: 5px;
        }
}